

<h1>Ebay</h1>

<form action="/ebays/info">
    <label>
        ebay search:
        <input name="title" placeholder="here" required autofocus>
    </label>

    <button>Search</button>
</form>



  