<!--
  <% if @current_user.present? %>
    <% if  @current_user.admin? %>
    <h2> hey Admin</h2>
    <% end %>
<h2>welcome <%= @current_user.email %></h2>
<% end %>
-->
    <!-- Masthead-->
       
  <!-- Background image -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
<div class="wrapper">
    <div class="box box1">
    <h1 class="fw-light">"Life isn't perfect but your SNEAKERS can be"</h1>
    <p class="lead">Never Stop Collecting </p>
    </div>
  
</div>     


        
        




      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container" id="about">
    <h2 class="fw-light">What is SneakerHead ?</h2>
    <p>A sneaker head is a term used describe a person who wears/collects sneakers as a hobby. The particular shoe brand a sneaker head covets is Nike and Air Jordan, although many other footwear brands have blossomed a dedicated following. Brands like adidas, Vans, Supra, A Bathing Ape, and other high-quality sneaker brands have developed a product line appealing more to sneaker heads rather than the casual every-day consumer.

In the 90s, Nike and Air Jordan were producing indomitable lines of footwear designs. Both companies were the unchallenged leaders in the industry, and it wasn’t until the late 90s when these models became collector items. In 2002, Nike launched the Nike SB (skateboarding) product line, offering special colourways of the classic Nike Dunk in a fat-tongued skater-friendly fit. The limited availability of the Nike SB line lit a flame in the sneaker head sub-culture; newly produced sneakers quickly became collectors items due to the limited availabiity, and thusly the market value of the shoes exceeded the suggest retail price.

Over the last few years, the sneaker head sub-culture has become mainstream, fully exposing the “sneaker head” into the pop-culture spotlight. The inundation of releases and models has rendered these once-limited products into a one-for-all distribution. However, the sneaker head still exists, and to them, so does the sub-culture. To a sneaker head, it isn’t always about the rarest or most expensive shoe, but the one that has no price.</p>
   
     <h2 class="fw-light">About </h2>
   <p> SneakerHead is a sneaker media outlet that provides daily coverage of the most coveted sneaker releases and the newest sneakers on the market. <br>  <br> In addition to providing regular updates on the very latest, Sneaker News provides useful resources to assist consumers worldwide in making purchases. <br>  <br>  Sneaker News is considered to be the most trusted and authoritative voice in the world of sneakers. <br>  <br>   
  
  </div>


</section>