

<div id="index_shoes">
<h1> All brands </h1>



<div class="row" id="brand">
<% @brands.each do |brand| %>

<div class="col-l-12 col-md-4">
    <%= link_to brand.name , brand %>
 
</div>
 
    <% end %>


</div>
</div>