<h1> All brands </h1>

<% @brands.each do |brand| %>
<div class="item">
    <%= link_to brand.name , brand %>
    <%= link_to image_tag brand.image, :class => 'thumb' if brand.image.present? %>

    </div>
    <% end %>
  